<template>
  <div>
    <v-parallax :src="imgParallax" height="750">
      <v-row align="center" justify="center" style="margin-top: -150px">
        <v-col align="center" md="6" cols="12">
          <p style="font-size: 30px">
            Besoin de booster votre activité ? Obtenez un site à votre image en
            quelques mois seulement.
          </p>
        </v-col>
      </v-row>
    </v-parallax>

    <v-row class="justify-center">
      <v-col cols="12" sm="8">
        <v-row>
          <v-col align="center" cols="12">
            <p
              style="font-size: 40px; color: #464159; text-transform: uppercase;"
            >
              Les étapes de création de votre site
            </p>
          </v-col>
        </v-row>
        <v-row
          v-for="(item, index) in steps"
          :key="index"
          align="center"
          style="justify-content:center"
        >
          <v-col
            v-if="index % 2 === 0 || $vuetify.breakpoint.xsOnly"
            md="3"
            sm="3"
            cols="12"
            style="text-align: center"
          >
            <v-avatar
              size="180"
              style="margin-bottom: 10px; background: linear-gradient(#464159, #6C7B95);"
            >
              <v-icon size="80" color="white">{{ item.icon }}</v-icon>
            </v-avatar>
          </v-col>
          <v-col
            :style="index % 2 === 0 ? 'text-align: left' : 'text-align: right'"
            md="7"
            sm="7"
            cols="12"
            class="align-self-center"
          >
            <div>
              <h3 style="color: #464159">
                {{ item.title }}
              </h3>
              <p style="color: #212121">
                {{ item.text }}
              </p>
            </div>
          </v-col>
          <v-col
            v-if="index % 2 !== 0 && !$vuetify.breakpoint.xsOnly"
            md="3"
            sm="3"
            style="text-align: center"
          >
            <v-avatar
              size="180"
              style="margin-bottom: 10px; background: linear-gradient(#464159, #6C7B95);"
            >
              <v-icon size="80" color="white">{{ item.icon }}</v-icon>
            </v-avatar>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <div>
      <v-parallax height="300" :src="imgCoding"></v-parallax>
      <v-row class="justify-center">
        <v-col cols="12" md="8">
          <v-row>
            <v-col align="center" cols="12">
              <p
                style="font-size: 40px; color: #464159; text-transform: uppercase;"
              >
                Tarifs
              </p>
              <p style="font-size: 25px; color: #959595;">
                Un tarif adapté pour chaque projet
              </p>
              <v-divider width="20%" />
            </v-col>
          </v-row>
          <v-row class="justify-center pa-2">
            <v-col
              v-for="(price, index) in prices"
              :key="index"
              cols="11"
              md="4"
              lg="3"
            >
              <TitleAndCheckList :item="price" />
            </v-col>
          </v-row>
          <v-row class="justify-center pa-2">
            <p style="font-size: 11px; color: #959595;">
              * Prix à titre informatif : peut varier selon la demande
            </p>
          </v-row>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import parallax from "static/computer2.jpg";
import coding from "static/coding.jpg";
import TitleAndCheckList from "../../../components/TitleAndCheckList";

export default {
  components: { TitleAndCheckList },
  data() {
    return {
      imgParallax: parallax,
      imgCoding: coding,
      steps: [
        {
          id: 0,
          title: "1. Premier contact ",
          text:
            "Vous pouvez me joindre par mail, par linkedin, ou directement via le formulaire de contact du site pour me parler de votre projet et de vos envies. Nous échangerons pour nous mettre d'accord dans les grandes lignes, avant de convenir d'un rendez-vous. ",
          icon: "fas fa-envelope-open-text"
        },
        {
          id: 1,
          title: "2. Déterminer le besoin ",
          text:
            " Pour l'étape suivante, nous déterminerons, ensemble, les objectifs du site pour optimiser sa visibilité et valoriser votre activité. Pour discuter de votre site, nous pouvons nous rencontrer en visio ou en physique, si les conditions nous le permettent. Durant notre entretien, nous verrons le nombre de pages qu'il vous faudra, le contenu et son agencement ainsi que les images, si vous en avez. Une mini maquette papier sera créée et servira de point de départ à votre site internet.",
          icon: "fas fa-comment"
        },
        {
          id: 2,
          title: "3. Squelette des maquettes ",
          text:
            "Dans un second temps, nous allons concrétiser vos envies et cette petite maquette papier. Une première ébauche sur le logiciel Adobe XD va être faite. Ce squellette vous offrira une vision globale du site sur ordinateur, tablette et smartphone. Je prendrai en compte tout vos retours pour améliorer cette ébauche. S'il y a des changements majeurs, nous réitererons cette étape avant de passer à la suite.",
          icon: "fas fa-handshake"
        },
        {
          id: 3,
          title: "4. Wireframe",
          text:
            "Une fois le squelette validée, je vais faire évoluer la maquette de sorte qu'elle ressemble exactement au site final. Ce wireframe possèdera la charte graphique, le texte et les images du site. On y retrouvera toutes les pages et la façon d'y naviguer. Tout au long de la production, nous communiquerons régulièrement de façon à obtenir rapidement un wireframe qui collera à vos attentes. Avec votre accord, le développement pourra commencer. ",
          icon: "fas fa-network-wired"
        },
        {
          id: 4,
          title: "5. Développement",
          text: `Chaque semaine, je reviendrai vers vous pour vous informer de l’avancée du site. Il sera totalement responsive, c’est à dire qu’il s’adaptera à la taille de vos écrans. De même, je mettrai en place les bonnes pratiques pour optimiser au maximum le référencement naturel du site. Enfin, j'y ajouterai une partie "administrateur" qui vous permettra, une fois le site en ligne, de pouvoir modifier à votre guise, le contenu du site. `,
          icon: "fas fa-code"
        },
        {
          id: 5,
          title: "6. Mise en Ligne",
          text:
            "Lorsqu’il sera terminé, je m’occuperai de sa mise en ligne et de la maintenance durant les jours suivants. Pour finir, je vous formerai depuis la page administrateur du site pour que vous puissiez gérer son contenu. Vous serez donc autonome mais je resterai à votre disposition pour toutes demandes supplémentaires. ",
          icon: "fas fa-globe"
        }
      ],
      prices: [
        {
          id: 0,
          price: 1500,
          title: "Starter Pack",
          content: [
            {
              id: 0,
              text: "Déploiement Google"
            },
            {
              id: 1,
              text: "Référencement Naturel"
            },
            {
              id: 2,
              text: "Interface administrateur"
            },
            {
              id: 3,
              text: "Développement du site"
            }
          ]
        },
        {
          id: 1,
          price: 2000,
          title: "Professional Pack",
          content: [
            {
              id: 4,
              text: "Maquettes sur mesure"
            },
            {
              id: 0,
              text: "Déploiement Google"
            },
            {
              id: 1,
              text: "Référencement Naturel"
            },
            {
              id: 2,
              text: "Interface administrateur"
            },
            {
              id: 3,
              text: "Développement du site"
            }
          ]
        }
      ]
    };
  },

  head: {
    title: "Création du site en plusieurs étapes",
    meta: [
      {
        hid: "website",
        name: "website",
        content:
          "Créons votre site internet en quelques mois seulement, pour un tarif abordable. Je vous propose un package avec votre site personnalisé, SEO, déploiement."
      }
    ]
  }
};
</script>
<style scoped></style>
