<template>
  <div>
    <v-parallax :src="imgwriting" height="500">
      <v-row class="justify-center align-center" style="margin-top: 75px;">
        <v-col cols="12" md="4" align="center">
          <p style="font-size: 40px; color: white;">
            A la recherche d'une
            <b
              style="color: #C7F0DB; font-weight: normal; text-decoration: underline"
              >Webmaster</b
            >
            Freelance ?
          </p>
        </v-col>
      </v-row>
    </v-parallax>
    <div style="padding: 65px 0; background-color: #F5F8FF">
      <v-row class="justify-center">
        <v-col cols="11" md="7">
          <v-card elevation="5">
            <v-row class="justify-center">
              <v-col cols="12" sm="7">
                <v-card-title>Contact</v-card-title>
                <v-card-subtitle
                  >Si vous souhaitez plus d'information, n'hésitez pas à me
                  contacter</v-card-subtitle
                >

                <v-card-text>
                  <v-form ref="form" :valid="valid" lazy-loading>
                    <v-text-field
                      v-model="email"
                      label="Email"
                      :rules="validation.emailFormat"
                      outlined
                      required
                    />
                    <v-text-field
                      v-model="subject"
                      label="Objet"
                      :rules="validation.genericField"
                      outlined
                      required
                    />
                    <v-textarea
                      v-model="comment"
                      label="Commentaire"
                      :rules="validation.genericField"
                      outlined
                      counter
                      required
                    />
                    <v-card class="d-flex justify-end" elevation="0">
                      <v-tooltip bottom>
                        <template #activator="{ on, attrs }">
                          <v-btn
                            elevation="8"
                            color="primary"
                            v-bind="attrs"
                            @click="sendEmail()"
                            v-on="on"
                          >
                            Envoyer
                          </v-btn>
                        </template>
                        <span> Fonctionnalité en construction </span>
                      </v-tooltip>
                    </v-card>
                  </v-form>
                </v-card-text>
              </v-col>
              <v-col cols="12" sm="5" style="padding-top: 0; padding-bottom: 0">
                <v-img :src="imgDestContact" height="100%" />
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </div>
</template>
<script>
import deskContact from "../../static/form-contact1.jpg";
import writing from "static/writing-pad.jpg";
// import nodemailer from 'nodemailer'
export default {
  data() {
    return {
      valid: false,
      subject: null,
      email: null,
      comment: null,
      imgDestContact: deskContact,
      imgwriting: writing
    };
  },
  head: {
    title: "Contactez Laetitia Constantin Freelance",
    meta: [
      {
        hid: "contact",
        name: "contact",
        content:
          "Contactez-moi directement via Linkedin via le pied de page du site (Formulaire en construction)"
      }
    ]
  },
  computed: {
    validation() {
      return {
        genericField: [v => !!v || "Champ manquant"],
        emailFormat: [v => (v || "").match(/@/) || "Email invalide"]
      };
    }
  },
  methods: {
    async sendEmail() {
      if (this.$refs.form.validate()) {
        // TODO : SEND EMAIL
        // let testAccount = await nodemailer.createTestAccount();
        // let transporter = nodemailer.createTransport({
        //     host: "smtp.ethereal.email",
        //     port: 587,
        //     secure: false,
        //     auth: {
        //         user: testAccount.user, // generated ethereal user
        //         pass: testAccount.pass, // generated ethereal password
        //     }
        // })
        //  let info = await transporter.sendMail({
        //     from: this.email, // sender address
        //     to: "laetitiaconstantin@yahoo.com", // list of receivers
        //     subject: this.subject, // Subject line
        //     text: this.comment, // plain text body
        //     html: "<b>Laetitia Website</b>", // html body
        // });

        // console.log("Message sent: %s", info.messageId);
        console.log("send");
      }
    }
  }
};
</script>
