<template>
  <div>
    <v-parallax :src="imgLaptop" height="900">
      <v-layout row wrap>
        <v-spacer />
        <v-flex xs12 md4 sm6 style="margin-top: 300px;">
          <div>
            <p id="title-1" style="text-transform: uppercase; font-size: 30px;">
              <b style="color: #C7F0DB; font-weight: normal">Développeuse</b>
              Freelance
            </p>
            <p
              style="border-bottom: 2px solid #C7F0DB; width:30%; margin: 10px auto"
            />
            <p style="font-size:20px; color: #C7F0DB;">
              Créatrice de sites web
            </p>
          </div>
        </v-flex>
      </v-layout>
    </v-parallax>

    <div style="margin: 30px 0">
      <v-row class="d-flex justify-center mb-6">
        <v-col cols="12" md="10" lg="8">
          <v-row justify="center">
            <v-col align="center" cols="12" md="8">
              <p
                style="font-size: 33px; color: #464159; text-transform: uppercase;"
              >
                Création d'un site internet sur mesure
              </p>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="5">
              <div>
                <v-img :src="imgMaquette" />
              </div>
            </v-col>
            <v-col cols="12" md="7">
              <div style="padding: 0 40px">
                <v-row>
                  <p style="font-size: 19px; color: #464159">
                    Vous avez envie de faire découvrir votre activité à un
                    <b>public plus important</b> ?
                  </p>
                </v-row>
                <v-row>
                  <p style="font-size: 17px">
                    Aujourd'hui, un site internet est visité des millions de
                    fois par des millions d'utilisateurs partout dans le monde.
                    La présence en ligne d'une entreprise est devenue
                    indispensable pour toucher davantage de personnes. C'est
                    pourquoi, je me concentre pour faire valoir l'activité d'une
                    entreprise par la création d'un site sur mesure. Du design à
                    l'hébergement, en passant par le développement, ensemble
                    nous allons construire le reflet de votre activité.
                  </p>
                </v-row>
              </div>
            </v-col>
          </v-row>
          <br /><br />
          <v-row>
            <v-col cols="12" md="8">
              <div style="padding: 0 40px">
                <v-row>
                  <p style="font-size: 19px; color: #464159">
                    Vous voulez un site internet à <b>votre image</b>, qui
                    correspond à <b>vos besoins</b> ?
                  </p>
                </v-row>
                <v-row>
                  <p style="font-size: 17px">
                    Mes services sont centrés sur la création de site vitrine.
                    De cette façon, je me concentre pour faire valoir l'activité
                    de votre entreprise. Je vous propose de créer votre site, du
                    design à l'hébergement en passant par un développement sur
                    mesure. Présentation de votre entreprise, mise en avant de
                    vos services, Nous créerons ensemble le site qui vous
                    correspond.
                  </p>
                </v-row>
                <v-row>
                  <p style="font-size: 19px; color: #464159">
                    Vous souhaitez avoir la main sur votre site mais sans
                    superflus ?
                  </p>
                </v-row>
                <v-row>
                  <p style="font-size: 17px">
                    Grâce à un outil sur mesure, vous pourrez gérer vos pages
                    comme vous le souhaitez. Ajouter, modifier ou supprimer du
                    contenu deviendra un jeu d'enfant. Cela vous permettra
                    d'être autonome après la livraison de votre site.
                    <router-link to="/services/website">
                      <b> Voir plus</b>
                    </router-link>
                  </p>
                </v-row>
              </div>
            </v-col>
            <v-col md="4">
              <v-row justify="center">
                <v-avatar size="250">
                  <v-img :src="imgMeeting" />
                </v-avatar>
              </v-row>
            </v-col>
          </v-row>

          <v-row justify="center" class="ma-5">
            <p style="font-size: 25px; color: #464159; ">
              Ensemble, créons une solution adaptée
            </p>
          </v-row>
        </v-col>
      </v-row>
    </div>

    <div style="background-color: #F0F1F5">
      <v-container>
        <p style="font-size: 35px; text-align: center; color: #464159">
          Pourquoi choisir mes services ?
        </p>
        <v-row class="justify-center">
          <v-col cols="12" md="12" lg="9">
            <ListIconGroup :items="whyMe" />
          </v-col>
        </v-row>
      </v-container>
    </div>

    <v-row class="d-flex justify-center">
      <v-col cols="12" md="9" lg="7">
        <SlidePhotos
          :items="creations"
          title="Mes créations"
          color-title="#464159"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import laptop from "static/elephant.jpg";
import imgOmanawa from "static/omanawa.jpg";
import imgOce from "static/oce-accueil.png";
import imgLaetiWeb from "static/mysite.png";
import maquette from "static/responsiveWebsite.jpg";
import meeting from "static/meeting.jpg";
import SlidePhotos from "@/components/SlidePhotos";
import ListIconGroup from "@/components/ListIconGroup";

export default {
  components: {
    SlidePhotos,
    ListIconGroup
  },
  data() {
    return {
      imgLaptop: laptop,
      imgMaquette: maquette,
      imgMeeting: meeting,
      whyMe: [
        {
          id: 0,
          title: "Adaptabilité",
          colorTitle: "#464159",
          text:
            "Je suis a votre écoute tout au long de notre partenariat. Je saurais m’adapter pour que vous compreniez au mieux ce que nous allons pouvoir faire ensemble. Vulgariser mon secteur ou vous expliquer de façon plus technique en quoi consiste mon travail n’est pas un problème. Cette expérience va vous permettre de découvrir le monde du numérique sous un nouvel angle.",
          colorText: "#464159",
          icon: "fas fa-puzzle-piece",
          colorIcon: "#BE6289"
        },
        {
          id: 1,
          title: "Site responsive",
          colorTitle: "#464159",
          text:
            "Aujourd’hui 99 % des français ont un mobile, tant de personnes qui, à tout moment, peuvent naviguer sur le web. Il faut se rendre à l’évidence qu’internet permet à une activité d’être visible par n’importe qui et partout dans le monde. C’est pourquoi je vous propose un site adapté pour tous les appareils.",
          colorText: "#464159",
          icon: "fas fa-mobile-alt",
          colorIcon: "#BE6289"
        },
        {
          id: 2,
          title: "Autonomie",
          colorTitle: "#464159",
          text:
            "Grâce à un outil de personnalisation simple, il est possible gérer le contenu du site, de façon totalement autonome. Besoin d'ajouter un article pour un évènement ? En Deux cliques la modification sera en ligne.",
          colorText: "#464159",
          icon: "fas fa-tools",
          colorIcon: "#BE6289"
        },
        {
          id: 3,
          title: "Adéquation",
          colorTitle: "#464159",
          text:
            "Un site bien fait, peut vous ouvrir des perspectives inimaginables. Évidemment, il y a de nombreux facteurs à respecter comme le référencement naturel ou encore le traitement des données personnelles. Je veillerai à ce que le site soit en accord avec ces règles.",
          colorText: "#464159",
          icon: "fas fa-gavel",
          colorIcon: "#BE6289"
        },
        {
          id: 4,
          title: "Prix abordables",
          colorTitle: "#464159",
          text:
            "  Les prix sont abordables par tous et pour tous. Je veux permettre à ceux qui n’ont pas de grands budgets de s’engager aussi dans l’ère du numérique pour booster leur activité.",
          colorText: "#464159",
          icon: "fas fa-euro-sign",
          colorIcon: "#BE6289"
        }
      ],
      services: [
        {
          id: 0,
          icon: "laptop",
          colorText: "#6C7B95",
          colorTitle: "#464159",
          title: "Site vitrine",
          url: "/services/website",
          text:
            "Envie de faire découvrir une activité à votre image sur la toile du web ? Je vous propose la création de votre site web, du design à l’hébergement en passant par le développement sur mesure de votre site."
        },
        {
          id: 1,
          icon: "mobile-alt",
          colorText: "#6C7B95",
          colorTitle: "#464159",
          title: "Application mobile",
          url: "/services/app-mobile",
          text:
            "Vous avez un projet et vous avez besoin d'une application mobile ? Je vous propose d'utiliser les technologies hybrides pour une seule et même application valable pour tous les stores!"
        }
      ],
      creations: [
        {
          id: 0,
          img: imgLaetiWeb,
          url: "https://laetitia-freelance.com"
        },
        {
          id: 1,
          img: imgOmanawa,
          url: "https://www.omanawa.fr"
        },
        {
          id: 2,
          img: imgOce
        }
      ]
    };
  },
  head: {
    title: "Création de sites internet, Laetitia Constantin Freelance",
    meta: [
      {
        hid: "accueil",
        name: "accueil",
        content:
          "Vous voulez votre propre site web, à votre image ? Je vous propose mes services pour qu'ensemble nous puissions construire votre présence sur la toile du web "
      }
    ]
  }
};
</script>
<style scoped>
.scroll {
  overflow-y: auto;
}
.gradient-background {
  padding: 50px;
  color: white;
  font-size: 17px;
  background: linear-gradient(
    90deg,
    rgba(70, 65, 89, 1) 0%,
    rgba(108, 123, 149, 1) 71%,
    rgba(139, 186, 187, 1) 100%
  );
}
</style>
