<template>
  <div>
    <v-row style="justify-content: center;" align="stretch">
      <v-col
        v-for="(item, index) in items"
        :key="index"
        align="center"
        cols="12"
        sm="6"
        md="4"
        :style="item.url != null ? `cursor: pointer` : ''"
        @click="item.url != null ? $router.push(item.url) : ''"
      >
        <div class="ma-3">
          <v-avatar size="180" style="margin-bottom: 10px;">
            <v-icon
              size="80"
              style="font-size: 80px; color: #464159"
              :style="'color: ' + item.colorText"
              >{{ item.icon }}</v-icon
            >
          </v-avatar>
          <p
            :style="
              'font-weight: bold; font-size: 20px; margin: 10px auto; color: ' +
                item.colorTitle +
                '; text-transform: uppercase'
            "
          >
            <b>{{ item.title }}</b>
          </p>
          <p
            :style="
              'color: ' +
                item.colorText +
                '; font-size: 17px; text-align: justify'
            "
          >
            {{ item.text }}
            <router-link v-if="item.url != null" :to="item.url">
              Voir plus
            </router-link>
          </p>
        </div>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  }
};
</script>
