<template>
  <div>
    <v-item-group>
      <v-row justify="center">
        <v-col
          v-for="(item, index) in items"
          :key="index"
          cols="12"
          md="4"
        >
          <v-hover v-slot:default="{hover}">
            <v-item v-slot:default="{ active, toggle }">
              <v-card
                :color="active ? 'primary' : ''"
                class="d-flex align-center scroll"
                style="background-color: transparent"
                height="300"
                dark
                @click="toggle"
              >
                <v-container v-if="!active && !hover" style="padding: 30px; text-align: center" class="justify-center mb-6">
                  <v-row md="12" justify="center">
                    <p style="font-size: 25px">
                      {{ item.title }}
                    </p>
                  </v-row>
                  <v-row justify="center">
                    <font-awesome-icon :icon="['fas', item.icon]" style="font-size: 80px; " />
                  </v-row>
                </v-container>
                <v-container v-if="active || hover" style="padding: 30px" :style="active || hover ? '': 'display:visible'">
                  <div
                    v-if="active || hover"
                    style="overflow: hidden; height: 300; font-size: 18px"
                  >
                    {{ item.text }}
                  </div>
                </v-container>
              </v-card>
            </v-item>
          </v-hover>
        </v-col>
      </v-row>
    </v-item-group>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  }
}
</script>
