<template>
  <div>
    <v-row style="background: red">
      <v-col style="background: brown">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio aliquid qui eius consequuntur non mollitia, ab aperiam nam nesciunt, omnis voluptatem repudiandae exercitationem natus sit soluta dignissimos error eum provident!
      </v-col>
      <v-col>
        <v-img :src="img" />
      </v-col>
    </v-row>
  </div>
</template>
<script>
import imgLaetiWeb from 'static/mysite.png'
export default {
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      img: imgLaetiWeb
    }
  }
}
</script>
