<template>
  <div>
    <v-row>
      <v-col align="center" cols="12" md="12">
        <p
          class="title-slide"
          :style="colorTitle ? 'color: ' + colorTitle : ''"
        >
          {{ title }}
        </p>
      </v-col>
      <v-col align="center" cols="12" md="12">
        <v-slide-group multiple show-arrows>
          <v-slide-item
            v-for="(item, index) in items"
            :key="index"
            v-slot:default="{ active, toggle }"
          >
            <v-card
              width="320"
              style="box-shadow: 0px 0px 0px 0px;"
              class="grounded-radiants"
              @click="action(item.url)"
            >
              <v-img
                :src="item.img"
                width="300"
                height="300"
                style="border-radius: 25px;"
              />
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </v-col>
    </v-row>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    },
    colorTitle: {
      type: String,
      required: false,
      default: 'black'
    }
  },
  methods: {
    action (url) {
      if (url != null) {
        window.open(url, '_blank')
      }
    }
  }
}
</script>
<style scoped>
.title-slide {
  font-size: 40px;
  text-transform: uppercase;
}
.v-card:not(.v-sheet--tile):not(.v-card--shaped) {

    border-radius: 25px;
}
.grounded-radiants {
    margin: 10px;
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(90deg, rgba(108,123,149, 0.76) 0%, rgba(70,65,89, 0.76) 71%, rgba(88,92,117, 0.76) 100%) repeat scroll 0% 0%;
    background-clip: padding-box;
    padding: 5px;
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}
</style>
