<template>
  <div>
    <v-card>
      <div style="background-color: #F5F8FF" class="pa-4">
        <v-row class="justify-center">
          <p style="font-weight: bold; font-size: 17px">
            {{ item.title }}
          </p>
        </v-row>
        <v-row class="justify-center">
          <p style="font-weight: bold; font-size: 22px; margin-bottom: 0px">
            {{ item.price }}
          </p>
        </v-row>
        <v-row class="justify-center">
          <p style="text-transform: uppercase; font-size: 12px">A partir de</p>
        </v-row>
        <v-row class="justify-center">
          <v-btn
            style="font-size: 12px; padding: 15px 30px"
            rounded
            dark
            color="primary"
            @click="$router.push('/contact')"
          >
            Contact
          </v-btn>
        </v-row>
      </div>
      <div class="pa-4">
        <v-row
          v-for="(content, contentIndex) in item.content"
          :key="contentIndex"
          class="justify-center pa-0"
        >
          <v-col sm="1" cols="3" style="text-align: right; padding-right: 0">
            <v-icon small size="20" color="black" style="padding-right: 5px"
              >fas fa-check</v-icon
            >
          </v-col>
          <v-col sm="10" cols="8">
            <p style="margin-bottom: 0px">
              {{ content.text }}
            </p>
          </v-col>
        </v-row>
      </div>
    </v-card>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
};
</script>
