<template>
  <v-app style="background-color: white">
    <div>
      <div v-if="$vuetify.breakpoint.smAndUp">
        <v-app-bar
          absolute
          dark
          :class="$nuxt.$route.path === '/' ? 'menu' : 'menu-with-background'"
          elevation="0"
        >
          <v-avatar size="60">
            <v-img :src="imgLogo" />
          </v-avatar>
          <v-spacer />

          <nuxt-link class="design-menu" to="/">
            Accueil
          </nuxt-link>
          <nuxt-link class="design-menu" to="/services/website">
            Services
          </nuxt-link>
          <nuxt-link class="design-menu" to="/about-me">
            Qui suis-je ?
          </nuxt-link>
          <nuxt-link class="design-menu" to="/portfolio">
            Portfolio
          </nuxt-link>
          <nuxt-link class="design-menu" to="/contact">
            Contact
          </nuxt-link>
          <nuxt-link v-if="$auth.loggedIn" class="design-menu" to="">
            <v-btn outlined icon small @click="logout">
              <v-icon small>fas fa-sign-out-alt</v-icon>
            </v-btn>
          </nuxt-link>
        </v-app-bar>
      </div>
      <div v-else>
        <v-btn
          fab
          absolute
          top
          left
          color="primary"
          style="margin: 40px 5px 0 0; cursor: pointer"
          @click="showResponsiveMenu = !showResponsiveMenu"
        >
          <v-avatar size="50">
            <img :src="imgLogo" alt="img" />
          </v-avatar>
        </v-btn>

        <div v-if="showResponsiveMenu">
          <v-navigation-drawer
            v-model="showResponsiveMenu"
            absolute
            temporary
            width="220px"
            style="color: white; background-color: #585c75b3"
          >
            <v-container>
              <div
                style="font-size: 20px; font-weight: bold; margin-bottom: 10px;"
              >
                <p>Menu</p>
                <v-divider style="width: 100%; background-color: white" />
              </div>

              <nuxt-link class="design-responsive-menu" to="/">
                Accueil
              </nuxt-link>
              <br />
              <nuxt-link class="design-responsive-menu" to="/services/website">
                Services
              </nuxt-link>
              <br />
              <nuxt-link class="design-responsive-menu" to="/about-me">
                Qui suis-je ?
              </nuxt-link>
              <br />
              <nuxt-link class="design-responsive-menu" to="/portfolio">
                Portfolio
              </nuxt-link>
              <br />
              <nuxt-link class="design-responsive-menu" to="/contact">
                Contact
              </nuxt-link>
              <br />
            </v-container>
          </v-navigation-drawer>
        </div>
      </div>

      <v-main style="padding-bottom: 64px">
        <nuxt />
      </v-main>

      <v-footer class="footer">
        <v-card
          flat
          tile
          style="background: linear-gradient(90deg, rgba(70,65,89,1) 0%, rgba(108,123,149,1) 71%, rgba(139,186,187,1) 100%); width: 100%; text-align: center"
        >
          <v-card-text style="color: white;">
            &copy;
            <strong>Laëtitia Constantin</strong> -
            <a href="https://www.linkedin.com/in/laetitia-constantin/">
              <v-icon color="white" size="15">fab fa-linkedin</v-icon>
            </a>
            -
            <nuxt-link
              style="text-transform: lowercase; color: white; text-decoration: none"
              to="#"
            >
              Mentions Légales
            </nuxt-link>
          </v-card-text>
        </v-card>
      </v-footer>
    </div>
  </v-app>
</template>

<script>
import laptop from "static/desk1.jpg";
import logo from "static/logo.png";
import logo1 from "static/logo1.png";
import logo2 from "static/logo2.png";
export default {
  data() {
    return {
      imgLaptop: laptop,
      imgLogo: logo,
      imgLogo1: logo1,
      imgLogo2: logo2,
      showResponsiveMenu: false
    };
  },
  methods: {
    async logout() {
      await this.$auth.logout();
      this.$toast.show("Vous êtes déconnecté.e", { duration: 2000 });
      this.$router.push("/");
    }
  }
};
</script>
<style scoped>
header.menu-with-background.theme--dark.v-sheet {
  background: linear-gradient(
    90deg,
    rgba(70, 65, 89, 1) 0%,
    rgba(108, 123, 149, 1) 71%,
    rgba(139, 186, 187, 1) 100%
  );
}
.menu-with-background {
  background: linear-gradient(
    90deg,
    rgba(70, 65, 89, 1) 0%,
    rgba(108, 123, 149, 1) 71%,
    rgba(139, 186, 187, 1) 100%
  );
}
header.menu.theme--dark.v-sheet {
  background-color: transparent;
  /* background-color: rgba(139, 186, 187, 0.84); */
  background: linear-gradient(
      90deg,
      rgba(70, 65, 89, 0.76) 0%,
      rgba(108, 123, 149, 0.76) 71%,
      rgba(139, 186, 187, 0.76) 100%
    )
    repeat scroll 0% 0%;
}
header.menu.v-toolbar {
  box-shadow: 0px 0px 0px 0px;
}
.design-menu {
  transition: 0.3s ease;
  color: white !important;
  margin-bottom: 7px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
}
.design-responsive-menu {
  color: white !important;
  margin-bottom: 7px;
  text-decoration: none;
}
.design-menu:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}
.footer {
  background: linear-gradient(
    90deg,
    rgba(70, 65, 89, 1) 0%,
    rgba(108, 123, 149, 1) 71%,
    rgba(139, 186, 187, 1) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
</style>
