<template>
  <div style="margin-top: 100px;">
    <v-row class="justify-center">
      <v-col cols="12" md="12" lg="8">
        <v-container style="padding-bottom: 20px">
          <v-row class="mb-12" no-gutters>
            <v-col align="center" md="12" cols="12" style="margin-bottom: 30px">
              <p
                style="font-size: 30px; color: #464159; text-transform: uppercase;"
              >
                Qui suis-je ?
              </p>
              <p
                style="border-bottom: 4px solid #464159; width:10%; margin: 10px auto"
              />
            </v-col>
            <v-col align="center" md="6" cols="12">
              <v-avatar size="300">
                <v-img :src="imgProfil" />
              </v-avatar>
            </v-col>
            <v-col
              md="5"
              sm="12"
              xm="12"
              style="color: #585C75; font-size: 17px"
            >
              <p>
                Je suis Laëtitia Constantin, actuellement en
                <b>master Data Science/ Intelligence Artificielle</b>. J'ai
                obtenu un DUT informatique en 2018 et depuis je suis en
                alternance. J'oscille entre les cours à Ynov à Bordeaux et mon
                travail à la Police Nationale. A côté de mon emploi du temps, je
                créé des sites web pour me diversifier, gagner en expérience et
                agrandir mon réseau professionnel.
              </p>
              <br />
              <p>
                Je suis sérieuse, rigoureuse et appliquée. J'ajouterai que je
                suis très curieuse et je développe le goût du management au fur
                et à mesure de mes expériences professionnelles.
              </p>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <div
      :style="
        'background-repeat: no-repeat; background-size: cover; backgorund-position: center; background-image: linear-gradient(to top right, rgba(70,65,89,.7), rgba(108,123,149,.7)), url(' +
          imgMountain +
          ')'
      "
    >
      <v-container style="text-align: center">
        <v-col align-text="center" md="12" cols="12">
          <p style="font-size: 30px; color: white; text-transform: uppercase;">
            Mon expérience
          </p>
        </v-col>

        <v-row class="justify-center">
          <v-col cols="12" md="12" lg="8">
            <v-timeline :dense="$vuetify.breakpoint.xs ? true : false">
              <v-timeline-item
                v-for="(item, index) in experiences"
                :key="index"
                small
                color="grey lighten-5"
              >
                <template #opposite>
                  <span style="color: white; font-size: 18px">{{
                    item.date
                  }}</span>
                </template>
                <v-card class="elevation-2">
                  <v-card-title
                    v-if="$vuetify.breakpoint.xs"
                    class="title"
                    style="background-color: #464159; color: white;"
                  >
                    {{ item.date }}
                  </v-card-title>
                  <v-card-title class="headline" style="padding-bottom: 0;">
                    <b style=" color: #464159; font-size: 18px">{{
                      item.title
                    }}</b>
                    <i style="color: #585C75; font-size: 15px padding-top: 2px">
                      - {{ item.location }}</i
                    >
                  </v-card-title>
                  <v-card-text
                    style="text-align: left; padding-bottom: 0; font-size: 17px"
                  >
                    <b style="color: #6C7B95">{{ item.company }}</b>
                    {{ item.type ? " - " + item.type : "" }}
                  </v-card-text>
                  <v-card-text style="text-align: left; font-size: 15px">
                    {{ item.comment }}
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>
          </v-col>
        </v-row>
      </v-container>
    </div>

    <div>
      <v-container>
        <v-row>
          <v-col align="center" md="12" cols="12">
            <p
              style="font-size: 30px; color: #464159; text-transform: uppercase;"
            >
              Mes compétences
            </p>
          </v-col>
          <v-row class="justify-center">
            <v-col cols="12" md="9" sm="12">
              <v-row class="justify-center pa-2">
                <v-col cols="10" md="6" sm="6" class="align-self-center">
                  <v-card shaped class="pa-7">
                    <v-card-title>
                      <p>Graphique de compétences</p>
                    </v-card-title>
                    <v-card-subtitle>
                      <p>Généré par Echarts</p>
                    </v-card-subtitle>
                    <v-card-text>
                      <p>
                        Ce graphique, représente l'ensemble de mes compétences.
                        Elles sont réparties par catégorie pour plus de
                        lisibilité et de compréhension.
                      </p>
                      <p>
                        La majorité correspond aux compétences informatiques que
                        j'ai vu et pratiqué au cours de mes études. On retrouve
                        aussi des acquis dans d'autres domaines, grâce à la
                        formation complète que j'ai reçu.
                      </p>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col
                  cols="11"
                  lg="5"
                  sm="6"
                  :style="$vuetify.breakpoint.xsOnly ? 'padding: 0' : ''"
                >
                  <client-only placeholder="loading...">
                    <v-chart :options="skills" />
                  </client-only>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-row>
      </v-container>
    </div>
  </div>
</template>
<script>
import ECharts from "vue-echarts";
import profil from "@/static/me.JPG";
import mountain from "@/static/mountain.jpg";
import "echarts/lib/chart/line";
import "echarts/lib/chart/sunburst";
import "echarts/lib/component/polar";
export default {
  components: {
    "v-chart": ECharts
  },
  data() {
    return {
      imgProfil: profil,
      imgMountain: mountain,

      experiences: [
        {
          id: 0,
          date: "2021",
          title: "Webmaster",
          company: "",
          type: "Freelance",
          location: "Bordeaux",
          comment:
            "Création de ma petite entreprise ! J'ai décidé de sauter le pas pour commencer à mettre en place mon savoir-faire. De cette façon, je vais pouvoir agrandir mon réseau professionnel tout en aidant ceux qui ont besoin d'un développeur pour booster leur activité. Commençons cette expérience ensemble !"
        },
        {
          id: 2,
          date: "Juin 2018/ Aout 2021",
          title: "Développeuse Full-Stack",
          company: "Police Nationale",
          type: "Alternance",
          location: "Bordeaux",
          comment:
            "De la définition du besoin, au déploiement de l'application web, en passant par la conception, le développement et la maintenance cette alternance me permet de découvrir l'intégralité du métier de développeur. Je peux mettre en place la théorie que j'ai apprise, tout en continuant d'apprendre grâce au travail d'équipe. La relation client ainsi que la rédaction de documentations sont un atout important dans l'apprentissage de ce métier. C'est certainement mon expérience la plus enrichissante !"
        },
        {
          id: 3,
          date: "Septembre 2018/ Aout 2021",
          title: "Mastere Data Science",
          company: "Ynov Campus",
          type: "Bac + 5",
          location: "Bordeaux",
          comment:
            "Je suis actuellement en mastere 1 Data science. J'y apprends les rudiments du Big Data, de la DataMining, du Machine Learning et du Deep Learning. J'ai également renforcé mes compétences de développement web et de développement mobile."
        },
        {
          id: 4,
          date: "Avril/ Juin 2018",
          title: "Développeuse Web/ Application mobile",
          company: "Health Unlimited",
          type: "Stage",
          location: "Londres",
          comment:
            "Ma premère expérience dans le milieu a été inoubliable. J'ai eu une chance incroyable de pouvoir faire ce stage à Londres. Il a été rythmé de 3 projets principaux : La création d'un site internet avec Wordpress (création de mon propre thème) et de deux Applications mobiles (le jeu mastermind et une application de recettes avec gestion des courses et budget)."
        },
        {
          id: 5,
          date: "2016/ 2018",
          title: "DUT Informatique",
          company: "IUT Informatique",
          type: "Bac + 2",
          location: "Gradignan",
          comment:
            "Après deux ans d'études, j'ai obtenu mon DUT ! J'ai pu apprendre les bases de l'informatique en réseau et en développement."
        },
        {
          id: 6,
          date: "Juin 2016",
          title: "Baccalauréat Scientifique",
          company: "Saint-Elme",
          type: "Lycée",
          location: "Arcachon",
          comment:
            "Ca y est me voilà bacchelière ! Obtention du baccalauréat Scientifique, spécialité SVT et option musique avec mention bien."
        }
      ],
      skills: {
        series: {
          type: "sunburst",
          nodeClick: false,
          highlightPolicy: "ancestor",
          radius: [0, "90%"],
          levels: [
            {},
            {
              r0: "10%",
              r: "50%",
              itemStyle: {
                borderWidth: 2,
                color: "white"
              },
              label: {
                rotate: "tangential"
              }
            },
            {
              r0: "50%",
              r: "51%",
              itemStyle: {
                color: "white"
              },
              label: {
                position: "outside",
                textShadowBlur: 5,
                textShadowColor: "#333"
              }
            }
          ],
          data: [
            {
              name: "Langues",
              itemStyle: { color: "#1a3e3e" },
              children: [
                {
                  name: "Français Maternelle",
                  value: 1,
                  itemStyle: {
                    color: "#1a3e3e"
                  }
                },
                {
                  name: "Anglais B2",
                  value: 1,
                  itemStyle: {
                    color: "#1a3e3e"
                  }
                },
                {
                  name: "Espagnol A2",
                  value: 1,
                  itemStyle: {
                    color: "#1a3e3e"
                  }
                }
              ]
            },
            {
              name: "Langages",
              itemStyle: { color: "#357C7D" },
              children: [
                {
                  name: "Javascript",
                  value: 2,
                  itemStyle: {
                    color: "#357C7D"
                  }
                },
                {
                  name: "C++",
                  value: 1,
                  itemStyle: {
                    color: "#357C7D"
                  }
                },
                {
                  name: "Java",
                  value: 1,
                  itemStyle: {
                    color: "#357C7D"
                  }
                },
                {
                  name: "Php",
                  value: 2,
                  itemStyle: {
                    color: "#357C7D"
                  }
                },
                {
                  name: "Python",
                  value: 1,
                  itemStyle: {
                    color: "#357C7D"
                  }
                }
              ]
            },
            {
              name: "Data \n Viz",
              itemStyle: { color: "#1a4d61" },
              children: [
                {
                  name: "Power BI",
                  value: 1,
                  itemStyle: {
                    color: "#1a4d61"
                  }
                },
                {
                  name: "Qliksense",
                  value: 1,
                  itemStyle: {
                    color: "#1a4d61"
                  }
                },
                {
                  name: "Talend",
                  value: 1,
                  itemStyle: {
                    color: "#1a4d61"
                  }
                }
              ]
            },
            {
              name: "Frameworks",
              itemStyle: { color: "#725A7A" },
              children: [
                {
                  name: "React",
                  value: 1,
                  itemStyle: {
                    color: "#725A7A"
                  }
                },
                {
                  name: "VueJS",
                  value: 2,
                  itemStyle: {
                    color: "#725A7A"
                  }
                },
                {
                  name: "NodeJS",
                  value: 2,
                  itemStyle: {
                    color: "#725A7A"
                  }
                },
                {
                  name: "NuxtJS",
                  value: 1,
                  itemStyle: {
                    color: "#725A7A"
                  }
                },
                {
                  name: "Laravel",
                  value: 2,
                  itemStyle: {
                    color: "#725A7A"
                  }
                },
                {
                  name: "Flutter",
                  value: 1,
                  itemStyle: {
                    color: "#725A7A"
                  }
                }
              ]
            },
            {
              name: "BD",
              itemStyle: { color: "#FF7582" },
              children: [
                {
                  name: "SQL Server",
                  value: 1,
                  itemStyle: {
                    color: "#FF7582"
                  }
                },
                {
                  name: "R",
                  value: 1,
                  itemStyle: {
                    color: "#FF7582"
                  }
                }
              ]
            },
            {
              name: "Marketing",
              itemStyle: { color: "#2A7B9B" },
              children: [
                {
                  name: "Mix",
                  value: 1,
                  itemStyle: {
                    color: "#1f5c74"
                  }
                },
                {
                  name: "Content Marketing",
                  value: 1,
                  itemStyle: {
                    color: "#1f5c74"
                  }
                },
                {
                  name: "Emailing",
                  value: 1,
                  itemStyle: {
                    color: "#1f5c74"
                  }
                }
              ]
            },
            {
              name: "Gestion",
              itemStyle: { color: "#C56C86" },
              children: [
                {
                  name: "Spécifications",
                  value: 1,
                  itemStyle: {
                    color: "#C56C86"
                  }
                },
                {
                  name: "SCRUM",
                  value: 1,
                  itemStyle: {
                    color: "#C56C86"
                  }
                }
              ]
            }
          ]
        }
      }
    };
  },
  head: {
    title: "Laetitia Constantin Freelance",
    meta: [
      {
        hid: "about-me",
        name: "about-me",
        content:
          "Laëtitia Constantin, Experte en informatique et système d'information, spécialisée en Intelligence artificielle. 3 ans d'expériences dans le développement Web."
      }
    ]
  }
};
</script>
<style scoped>
/* DOES NOT WORK */
.v-timeline-item .v-timeline-item__opposite {
  text-align: right !important;
}
.echarts {
  width: 500px;
  height: 500px;
}
.gradient-background {
  padding: 50px;
  color: white;
  font-size: 17px;
  background: linear-gradient(
    90deg,
    rgba(70, 65, 89, 1) 0%,
    rgba(108, 123, 149, 1) 71%,
    rgba(139, 186, 187, 1) 100%
  );
}
</style>
