<template>
  <div
    :style="
      `margin-top: 75px; margin-bottom: ${$vuetify.breakpoint.height - 750}px`
    "
  >
    <div v-if="$fetchState.pending" align="center">
      <v-progress-circular size="200" indeterminate color="primary" />
    </div>
    <div v-else>
      <div>
        <v-row class="justify-center">
          <v-col cols="12" md="8" align="center">
            <p
              style="font-weight: bold; color: #49465E; font-size: 30px; margin-bottom: 0px"
            >
              {{ project.title }}
            </p>
            <p style="color: #8A8A8B; font-size: 20px; font-style: italic">
              {{ project.sector }}
            </p>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="12" md="4" align="left" style="padding: 24px;">
            <div
              style="color: #8A8A8B; margin-bottom: 0; display: flex; flex-wrap: wrap;"
            >
              <v-icon color="primary" size="20">fas fa-calendar-alt</v-icon>
              <p style="padding-left: 5px; padding-right: 5px; margin: auto 0">
                Année :
                <b>
                  {{ project.year }}
                </b>
              </p>
            </div>

            <p>
              <v-icon color="primary" size="20">fas fa-tag</v-icon>
              <span style="color: #8A8A8B; padding-left: 5px">Catégorie </span>
              :
              <span style="font-weight: bold">{{ project.category }}</span>
            </p>
            <v-divider width="90%" />
            <div>
              <v-chip
                v-for="n in project.technologies.length"
                :key="n"
                color="primary"
                class="ma-2"
              >
                {{ project.technologies[n - 1].name }}
              </v-chip>
            </div>
            <v-divider width="90%" style="margin: 5px 0" />
            <div style="margin-top: 16px;">
              <p>{{ project.text }}</p>
            </div>

            <v-divider width="90%" style="margin: 5px 0" />
            <div v-if="project.url != null">
              <v-chip class="pa-2" outlined>
                <a
                  :href="project.url"
                  style="text-decoration: none; color: #8A8A8B"
                  >Visiter le site</a
                >
              </v-chip>
            </div>
          </v-col>
          <v-col cols="12" md="6" sm="10" align="center">
            <v-card>
              <v-container fluid>
                <v-row>
                  <v-col
                    v-for="n in project.pictures.length"
                    :key="n"
                    class="d-flex child-flex"
                    md="4"
                    sm="6"
                    cols="12"
                  >
                    <v-card flat tile class="d-flex" height="200" width="200">
                      <v-img
                        :src="project.pictures[n - 1]"
                        :lazy-src="project.pictures[n - 1]"
                        aspect-ratio="1"
                        class="grey lighten-2"
                      >
                        <template #placeholder>
                          <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                          >
                            <v-progress-circular
                              indeterminate
                              color="grey lighten-5"
                            ></v-progress-circular>
                          </v-row>
                        </template>
                      </v-img>
                    </v-card>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>
<script>
import laeHome from "static/accueil.png";
import laeXP from "static/qui-suis-je.png";
import laeCo from "static/contact.png";
import laeSer from "static/pk_services.png";
import laeCre from "static/creations.png";
import laeWeb from "static/services.png";

import omWho from "static/omanawa-qui-suis-je.png";
import omMed from "static/om-med.png";
import omForm from "static/om-form.png";
import omHome from "static/om-home.png";
import omHyp from "static/om-hyp.png";
import omHyp2 from "static/om-hyp2.png";
import omES from "static/om-es.png";
import omCacao from "static/om-cacao.png";
import omSoins from "static/om-soins.png";

import oceHo from "static/oce-accueil.png";
import ocecarte1 from "static/carte1.png";
import ocecarte2 from "static/carte2.png";
import ocevins1 from "static/vins1.png";
import ocevins2 from "static/vins2.png";
import oceco from "static/ocecontact.png";
export default {
  validate({ params }) {
    return params.id != null;
  },
  data() {
    return {
      project: null,
      data: [
        {
          id: 0,
          category: "Développement Web",
          pictures: [laeHome, laeXP, laeCo, laeSer, laeCre, laeWeb],
          sector: "Site Vitrine - Création site freelance",
          text:
            "J'ai créé ce site dans l'optique de mettre à disposition mes services pour celles et ceux qui veulent se créer une place sur internet. Je voulais un site original qui présente ce que je suis et ce que je fais. Je suis en train de mettre en place un espace où l'utilisateur pourra se connecter et modifier ses textes et images à sa guise. Pour ce faire, j'utilise une API en NodeJS, une Base de données SQL et un Front en NuxtJS. Le tout communique via Docker.",
          title: "Laëtitia Constantin",
          url: "https://laetitia-freelance.com",
          year: "2021",
          technologies: [
            {
              name: "Docker"
            },
            {
              name: "MySQL"
            },
            {
              name: "Vuetify"
            },
            {
              name: "NuxtJS"
            },
            {
              name: "Responsive"
            },
            {
              name: "NodeJS"
            },
            {
              name: "SEO"
            }
          ]
        },
        {
          id: 1,
          category: "Développement Web",
          pictures: [
            omHome,
            omWho,
            omHyp,
            omHyp2,
            omMed,
            omES,
            omCacao,
            omSoins,
            omForm
          ],
          sector: "Site Vitrine - Thérapeute énergéticienne indépendante ",
          text:
            "Ce site a été réalisé pour Sandrine Desillons, guérisseuse et enseignante pour un mieux-être général du corps et de l'esprit. Sandrine souhaitait un site qui pouvait refléter son image : doux, féminin et apaisant. Ce site possède une vingtaine de page qui présentent Sandrine et les différentes techniques qu'elle pratique au sein de son institut. Le site a été réalisé en NuxtJS et est totalement Responsive, c'est-à-dire qu'il s'adaptera à la taille de votre écran. L'intégralité des textes ont été fournis par Sandrine, et les images ont été choisies ensemble, sur le site Pixabay.",
          title: "Omanawa",
          url: "https://omanawa.fr",
          year: "2019",
          technologies: [
            {
              name: "Docker"
            },
            {
              name: "Vuetify"
            },
            {
              name: "NuxtJS"
            },
            {
              name: "Responsive"
            },
            {
              name: "SEO"
            }
          ]
        },
        {
          id: 2,
          category: "Développement Web",
          pictures: [oceHo, ocecarte1, ocecarte2, ocevins1, ocevins2, oceco],
          sector: "Site Vitrine - Restaurant ",
          text:
            "Attention, ce site n'est plus disponible. En 2017, j'ai voulu créer un site internet pour un restaurant, spécialisé dans les fruits de mer. Le site se voulait moderne et épuré tout en retrouvant la charte graphique du logo de l'entreprise. Pour faciliter les mises à jour des menus, selon les arrivées, j'ai utilisé Wordpress, un CMS, avec lequel j'ai entièrement créer et customisé le thème, pour obtenir un site simple mais propre, à l'image des valeurs de l'entreprise. Le site était composé d'une page d'accueil, de plusieurs pages pour les menus (plats, desserts, boissons) et d'une page de contact.",
          title: "L'Océ",
          url: null,
          year: "2017",
          technologies: [
            {
              name: "Wordpress"
            },
            {
              name: "MySQL"
            },
            {
              name: "PHP"
            },
            {
              name: "Responsive"
            },
            {
              name: "HTML"
            },
            {
              name: "CSS"
            },
            {
              name: "Greensock"
            },
            {
              name: "SEO"
            }
          ]
        }
      ]
    };
  },
  async fetch() {
    this.project = this.data[this.$route.params.id];
  }
};
</script>
