<template>
  <div style="margin-top: 65px; padding: 10px 15%">
    <v-row class=" d-flex align-stretch mb-6">
      <v-col
        v-for="(item, index) in items"
        :key="index"
        cols="12"
        align="center"
        md="6"
        style="cursor: pointer"
      >
        <v-hover v-slot="{ hover }">
          <v-card class="mx-auto" color="grey lighten-4" max-width="600">
            <nuxt-link
              style="text-decoration: none"
              :to="`/portfolio/${item.id}`"
            >
              <v-img :src="item.img">
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex transition-fast-in-fast-out teal darken-2 v-card--reveal display-3 white--text"
                    style="height: 100%;"
                  >
                    <v-icon size="80" color="white">fas fa-eye</v-icon>
                  </div>
                </v-expand-transition>
              </v-img>
            </nuxt-link>
            <div style="padding: 5px 10px">
              <p class="title-portfolio">{{ item.title }}</p>
              <p style="color: #989898; margin-bottom: 8px !important;">
                <i>{{ item.text }}</i>
              </p>
            </div>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import mysite from "static/mysite.png";
import omanawa from "static/omanawa.jpg";
import oce from "../../static/oce-accueil.png";
export default {
  data() {
    return {
      items: [
        {
          id: 0,
          img: mysite,
          title: "Laëtitia Constantin",
          text: "Site vitrine - Création sites freelance"
        },
        {
          id: 1,
          img: omanawa,
          title: "Omanawa",
          text: "Site vitrine - Thérapeute énergéticienne indépendante"
        },
        {
          id: 2,
          img: oce,
          title: "L'Océ",
          text: "Site vitrine - Restaurant"
        }
      ]
    };
  },

  head: {
    title: "Portfolio Laetitia Constantin",
    meta: [
      {
        hid: "portfolio",
        name: "portfolio",
        content:
          "Pour avoir une idée de ce que nous pouvons faire ensemble, vous retrouverez ici l'ensemble de mes créations depuis 2018."
      }
    ]
  }
};
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.7;
  position: absolute;
  width: 100%;
}
.title-portfolio {
  font-size: 20px;
  color: rgba(70, 65, 89, 1);
  font-weight: bold;
  margin-bottom: 0 !important;
}
</style>
